<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="ngoanimal.css" rel="stylesheet">
    
    <title>Document</title>
</head>
<body>
    <div class="img-wrapper">
        <img src="ngoanimal.jpg">
    </div>
    <div class="text">
       <p>
        From the mighty tiger to the humble worker bee, the huge variety of life on Earth contributes to our lives and well-being in more ways than we think. From offering a wealth of natural medicines to safeguarding us from climate shocks and improving soil health, we need wildlife for our survival, well-being and prosperity.
 
However, the way we live and work – from the food we eat to how we build our infrastructure – is causing a steep decline in their numbers. In the past 40 years alone, we’ve seen, on average, a decline of 60 per cent in populations of species.
Protecting wildlife could significantly reduce the frequency and intensity of destructive forest wildfires. Plant-eating wild animals reduce the amount of grass that can fuel fires through grazing.
Wild animals serve as a critical food source, rich in proteins and minerals for billions of people around the world. The UN Food and Agriculture Organization (FAO) reports that 34 million people rely on fishing for a living; providing protein to over 3 billion people. In tropical countries, people harvest over six million tons of medium-to-large-sized mammals, birds, and reptiles for their meat annually which serve as a rich source of important minerals. The proportion of children suffering from anemia is projected to increase by 29 per cent if they lose access to meat from wildlife, with a much greater impact on lower income households. Wildlife ranching could also have major advantages for human health, since game meat contains higher proportions of unsaturated fatty acids. Consuming wild meat also helps cut down on food miles and the carbon footprint of food production making it a win-win for us and the planet.
Chemicals from nature have been a part of human civilization ever since our early ancestors began using them to improve and enrich their own lives. Today, they continue to provide valuable knowledge to researchers and medical practitioners with crucial implications for medical sciences. Amphibians are especially important for modern medicine with compounds extracted from frogs alone used for treating depression, seizures, strokes and memory loss. We also rely on animals for a range of novel compounds including “frog glue,” a flexible adhesive obtained from the glands of Australian holy cross frog species used to treat human knee injuries; lanolin and Vitamin D3 derived from sheep’s wool; and Premarin, prepared from mare’s urine and used to treat menopausal symptoms.
Wildlife offers numerous therapeutic benefits. Research has shown that people are most drawn to landscapes that are tranquil, aesthetically appealing, have a historic significance and contain wildlife. Natural habitats and landscapes which support thriving wildlife populations also serve as valuable spaces for people to interact with wildlife, ranging from photographing wildlife to watching wildlife films. Not surprisingly, international travel to wildlife destinations has tripled over the past 20 years, with visits to protected areas rising in most developing countries and generating an estimated revenue of 600 US billion dollars a year[2].
Wild animals play a key role in enhancing the health and fertility of soil by improving its nutrients. Their dung and urine helps replenish the nutrient content of the soil by providing it with enriching minerals. Wildlife, which range widely, can also move nutrients around – for example, the hippo’s night-time grazing in grasslands brings nutrients back to the river through their dung, increasing fish productivity.


        

        </p>
        <a href="" class="btn btn-primary">Protect Animal</a>
    </div>
</body>
</html>