<html lang="en">
    {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cloth</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href= {% static 'register.css' %}>
    <style>
      body{
        background-color:#4dff88;
      }
       .box{
        border:3px solid black;
        padding: 15px;
        border-radius:8px;
        box-shadow:10px 15px #001a00;
        background-color: #669999;
      }
    </style>
  </head>
  <body>
    <form>
      <div class="box">
        <center><h3>Help the helpless!</h3></center>
        <div class="form-group">
            <label for="exampleInputName">Name</label>
            <input type="text" class="form-control" id="exampleInputName1"  placeholder="Enter your Name">
            <small id="NameHelp">*We are thank full for your contribution.</small>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          <small id="emailHelp">*We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputmin_age"></label>
          <input type="number" class="form-control" id="exampleInputmin_age" placeholder="Enter your card no.">
        </div>
        <div class="form-group">
            <label for="exampleInputmax_age"></label>
            <input type="number" class="form-control" id="exampleInputmax_age" placeholder="month">
            <input type="number" class="form-control" id="exampleInputmax_age" placeholder="year">
          </div>
        <div class="form-group form-check">
            <input type="number" class="form-control" id="exampleInputmax_age" placeholder="cvv">
        </div>
        <div class="form-group form-check">
            <input type="number" class="form-control" id="exampleInputmax_age" placeholder="rupees to  donate">
        </div>
        <div>
        <center><button type="submit" class="btn btn-primary">Submit</button></center>
        </div>
      </div>
      </form>
  </body>
</html>
